<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.orbotix.spherocam"
          android:versionName="1.3"
          android:versionCode="21"
        android:installLocation="auto">

    <uses-sdk android:minSdkVersion="8" />

    <!-- Permissions -->
    <uses-permission
        android:name="android.permission.BLUETOOTH"
        />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission
        android:name="android.permission.CAMERA"
        />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        />

    <uses-permission
        android:name="android.permission.RECORD_AUDIO"
        />

    <uses-permission
        android:name="android.permission.INTERNET"
        />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        />

    <application android:icon="@drawable/icon" android:label="Sphero Cam">

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:configChanges="orientation|keyboard|keyboardHidden"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen"
            android:finishOnTaskLaunch="true"
            android:launchMode="singleTask"
            >

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Menu -->
        <activity
            android:name=".ui.settings.MenuActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTop"
            />

        <!-- Connecting to Sphero -->
        <activity
            android:name="orbotix.robot.app.StartupActivity"
            android:theme="@android:style/Theme.Translucent"
			android:launchMode="singleTop"
            />

        <!-- Color Changes -->
        <activity android:name="orbotix.robot.app.ColorPickerActivity"
 			android:configChanges="orientation"
 			android:screenOrientation="landscape"
 			android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            />

        <!-- Settings -->
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTop"
            />

        <!-- Control Settings -->
        <activity
            android:name=".ui.settings.ControlSettingsActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTop"
            />

        <!-- User Guide -->
        <activity
            android:name=".ui.settings.UserGuideActivity"
            android:configChanges="orientation"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"
            android:launchMode="singleTop"
            />
        
    </application>
</manifest>
