<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>analytics</key>
	<true/>
	<key>autoPair</key>
	<true/>
	<key>blueLEDBrightness</key>
	<real>0.98</real>
	<key>driveType</key>
	<integer>0</integer>
	<key>firmwareUpdateCheck</key>
	<true/>
	<key>greenLEDBrightness</key>
	<real>0.15</real>
	<key>gyroSteering</key>
	<false/>
	<key>joystickTutorial</key>
	<true/>
	<key>level1Settings</key>
	<dict>
		<key>boostTime</key>
		<real>0.6</real>
		<key>controlledBoostVelocity</key>
		<real>0.8</real>
		<key>name</key>
		<string>Cautious</string>
		<key>rotationRate</key>
		<real>0.4</real>
		<key>velocityScale</key>
		<real>0.5</real>
	</dict>
	<key>level2Settings</key>
	<dict>
		<key>boostTime</key>
		<real>0.6</real>
		<key>controlledBoostVelocity</key>
		<real>0.9</real>
		<key>name</key>
		<string>Comfort</string>
		<key>rotationRate</key>
		<real>0.6</real>
		<key>velocityScale</key>
		<real>0.7</real>
	</dict>
	<key>level3Settings</key>
	<dict>
		<key>boostTime</key>
		<real>0.8</real>
		<key>controlledBoostVelocity</key>
		<integer>1</integer>
		<key>name</key>
		<string>Crazy</string>
		<key>rotationRate</key>
		<real>0.7</real>
		<key>velocityScale</key>
		<real>0.9</real>
	</dict>
	<key>mainTutorial</key>
	<true/>
	<key>rcTutorial</key>
	<true/>
	<key>redLEDBrightness</key>
	<real>0.13</real>
	<key>sensitivityLevel</key>
	<string>level1</string>
	<key>soundFXVolume</key>
	<real>0.5</real>
	<key>tiltTutorial</key>
	<true/>
	<key>hasRobotConnected</key>
	<false/>
	<key>showCalibrationTutorial</key>
	<true/>
	<key>colorCalloutShown</key>
	<false/>
	<key>speedCalloutShown</key>
	<false/>
	<key>driveStyleCalloutShown</key>
	<false/>
	<key>alwaysShowCallouts</key>
	<false/>
</dict>
</plist>
